In [0]:
from pyspark.sql import functions as F


df = spark.createDataFrame([
    ("ABC","Q1",6000),
    ("XYZ","Q1",5000),
    ("ABC","Q2",8000),
    ("XYZ","Q2",7000),
    ("ABC","Q3",9000),
    ("XYZ","Q3",10000),
    ("EFG","Q1",1000),
    ("EFG","Q2",2000),
    ("EFG","Q3",3000),
    ("LMN","Q1",4000),
    ("LMN","Q2",6000),
    ("LMN","Q3",9000)
    ],
["Company_name","Quater","Revenue"]
)

df.show()

In [0]:
pivot_df = df.groupBy(F.col("Company_name")).pivot("Quater").sum("Revenue")

pivot_df.show()

In [0]:
unpivot_df = pivot_df.selectExpr(
    "Company_name",
    "stack(3, 'Q1', Q1, 'Q2', Q2, 'Q3', Q3) as (Quarter, Revenue)"
).where("Revenue is not null")



unpivot_df.show()